@tailwind base;
@tailwind components;
@tailwind utilities;



html {
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
    font-display: swap;
  }

  body {
    padding-right: 0 !important;  
  }
  @layer base {
    html {
      @apply scroll-smooth;
    }
  }

  .animated-object {
  position: absolute;
  left: -100px; 
  transition: left 1.5s ease; 
}

@media(min-width: 960px){
  .animated-object.visible {
  left: 33%; 
}
}
@media(max-width: 959px){
  .animated-object.visible {
  left: 16px; 
}
}

.swiper-pagination {
 top: 360px !important;
}

/* text */ 